/vendor/
/composer.lock
/.idea/
/.vscode/
/.phpunit.result.cache
/phpunit.xml
/build/
/node_modules/
/.env
/.env.local
/.env.*.local
/.phpcs-cache
/.php_cs.cache
/.php-cs-fixer.cache
/coverage/
/docs/api/
/phpDocumentor.phar
/phpdoc.xml 